<header class="site-header" style="margin-bottom: 5px">
    <nav class="navbar navbar-expand-md navbar-color">
        <div class="container">
            <!-- Navbar Left Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
            </div>
            <button aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler ml-auto float-right btncolor" data-target="#navbarToggle" data-toggle="collapse" type="button">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <!-- Navbar Left Side -->
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">
                        Log in <i class="fas fa-sign-in-alt"></i>
                    </a>
                    <a class="nav-item nav-link" href="/">
                        Sign up <i class="fas fa-user-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>