{% extends "main/header.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete {{ type }}</legend>
                <h2>Are you sure you want to delete this {{ type }} "{{ object.title }}"?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Confirm</button>
                <a class="btn btn-outline-secondary" href="/{{ object.slug }}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}